{% if site.layout == 'stacked' %}
  {% assign metadata_styles = 'd-md-inline-block mx-3 mb-1 mb-md-0' %}
{% else %}
  {% assign metadata_styles = 'd-flex flex-items-center mb-1' %}
{% endif %}

<div id="masthead" class="flex-self-stretch {% if site.style == 'dark' %}bg-gray-dark{% else %}border-md-right border-gray-light bg-white{% endif %} col-md-5 col-lg-4 col-xl-3 px-4 px-md-6 px-lg-7 py-6">

  <img src="{{ user.avatar_url }}" class="circle mb-3" style="max-width: 150px;">
  <h1 class="{% if site.style == 'dark' %}text-white{% endif %} mb-2 lh-condensed">{{ user.name }}</h1>
  <p class="f4 mb-2 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
    Math Researcher at <a href="http://www.dm.unipi.it/webnew/" class="text-underline {% if site.style == 'dark' %}text-white link-hover-gray-extra-light{% endif %}">Pisa University</a>
  </p>

  {% if include.metadata %}
    <div class="f4 mb-6">
      <!-- location -->
      <div class="{{ metadata_styles }} mb-4 {% if site.style == 'dark' %}text-white{% endif %}">
        {% octicon location height:20 width:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:location %}
        Pisa, Italy
      </div>

      <!-- cv -->
      <div class="{{ metadata_styles }} mb-2">
        {% octicon file height:20 width:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:file %}
        <a href="https://lmarangio.github.io/cv/Marangio_resume.pdf" {% if site.style == 'dark' %}class="text-white"{% endif %}>
          Curriculum Vitae
        </a>
      </div>

      <!-- email -->
      <div class="{{ metadata_styles }} mb-4">
        {% octicon mail height:20 width:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:mail %}
        <a href="mailto:lmarangio@gmail.com" {% if site.style == 'dark' %}class="text-white"{% endif %}>
          lmarangio@gmail.com
        </a>
      </div>

      <!-- social media -->
      {% if site.social_media %}
        <div class="f4 mb-4">
          {% for account in site.social_media %}
            <div class="{{ metadata_styles }} mb-1">
              {% assign service_shortname = account[0] %}
              {% assign service = site.data.social_media[service_shortname] %}
              {{ service.icon_svg }}
              <a href="{{ service.profile_url_prefix }}{{ account[1] }}" class="{% if site.style == 'dark' %}text-white{% endif %} ml-2">
                {{ service.name }}<span class="d-none">{{ service.name }}</span>
              </a>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <!-- social media short -->
      {% if site.social_media_short %}
        <div class="d-flex flex-wrap flex-items-start {% if site.layout == 'stacked' %}flex-justify-center mt-1 mt-md-3{% endif %}">
          {% for account in site.social_media_short %}
            <div class="{% unless forloop.last == true %}mr-3{% endunless %} mb-3">
              {% assign service_shortname = account[0] %}
              {% assign service = site.data.social_media[service_shortname] %}
              <a href="{{ service.profile_url_prefix }}{{ account[1] }}" class="tooltipped tooltipped-se" aria-label="{{ service.name }}: {{ account[1] }}">
                {{ service.icon_svg }}<span class="d-none">{{ service.name }}</span>
              </a>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <div class="navigation-white">
        <ul class="mt-6">
          {% for item in site.data.navigation %}
            <li class="mb-4"> <a class="f4 text-white {% if page.url == item.link %} navigation-selected-white {% endif %}" href="{{ item.link }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </div>

    </div>
  {% endif %}

</div>
