{% include header.html %}

{% if site.layout == 'stacked' %}
  <div class="container-lg py-6 p-responsive text-center">
    {% include masthead.html metadata=true %}

    <div {% if site.style == 'dark' %}class="text-white"{% endif %}>
      <!-- {% include navigation.html %} -->
      {{ content }}
    </div>

    <div class="my-6">
      {% include news.html %}
    </div>

    <div class="my-6">
      {% include awards.html %}
    </div>

    <div class="my-6">
      {% include talks.html %}
    </div>

    {% if site.topics %}
      <div class="my-6">
        {% include interests.html %}
      </div>
    {% endif %}

    {% unless posts_total == 0 %}
      <div class="my-6">
        {% include thoughts.html %}
      </div>
    {% endunless %}
  </div>
{% else %}
  <div class="d-md-flex min-height-full {% unless site.style == 'dark' %}border-md-bottom{% endunless %}">

    {% include masthead.html metadata=true %}

    <div id="content" class="col-md-7 col-lg-8 col-xl-9 px-4 py-6 px-lg-7 border-top border-md-top-0 bg-gray-light" {% if site.style == 'dark' %}style="background-color: #2f363d !important"{% endif %}>
      <div class="mx-auto" style="max-width: 900px;">

        <!-- {% include navigation.html %} -->

        <h1 class="mb-6 {% if site.style == 'dark' %}text-white{% endif %}">About</h1>

        <div class="f4 {% if site.style == 'dark' %}text-white{% endif %} mb-6">
          {{ content }}
          <p>I am a Math Researcher at <a href="http://www.dm.unipi.it/webnew/" class="text-underline {% if site.style == 'dark' %}text-white link-hover-gray-extra-light{% endif %}">Pisa University</a> in Pisa, Italy.</p>
          <p>
          I obtained my two PhD degrees in Mathematics and Computer Science under the supervision of prof. Stefano Galatolo, Pisa University, and prof. Christophe Guyeux, Bourgogne Franche-Comté University. 
          I completed my MSc degree in Mathematics at Pisa University.
          </p>
          <p>My research is on model prediction, focused on rigorous computation of statistical properties of random dynamical systems.</p>
        </div>

        {% unless content == ""  %}
          <div class="f4 {% if site.style == 'dark' %}text-white{% endif %} mb-6">
            {{ content }}
          </div>
        {% endunless %}

        {% include news.html %}

        {% include awards.html %}

        {% include talks.html %}

        {% if site.topics %}
          {% include interests.html %}
        {% endif %}

        {% unless posts_total == 0 %}
          {% include thoughts.html %}
        {% endunless %}
      </div>
    </div>
  </div>
{% endif %}

{% include footer.html %}
